:root{
    --primary-color: #42b983;
    --secondary-color: #35495e;
    --font-color: #2c3e50;
    --background-color: #f5f5f5;

    --border-radius: 8px;

    --font-family: Verdana, Geneva, Tahoma, sans-serif;

}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-family);
}